.nav {
	float: left;
	width: 150px;
	height: 100vh;
	background-color: #DEDEDE;
	margin-right: 20px;
}

.nav .title {
	margin: 20px;
}

.nav .user {
	margin-left: 20px;
}

.nav .new-room {
	margin-left: 17px;
}

.nav .logout {
	margin-left: 17px;
	margin-bottom: 20px;
}

.nav .login {
	margin-left: 17px;
	margin-bottom: 20px;
}

.nav .room-list {
	margin-left: 20px;
	list-style: none;
}

.nav .room-item {
	margin: 5px 0 5px 0;
}

.room {
	width: 100%;
	height: 100vh;
	background-color: gray;
}

.room #room-title {
	color: #DEDEDE;
	display: inline-block;
}

.room .message-list {
	list-style: none;
}

.room #message-text {
	margin-bottom: 16px;
	bottom: 0;
	position: fixed;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop + (document.documentElement.clientHeight - this.offsetHeight)));
	height: 35px;
	width: 80%;
	display: inline-block;
}

#message-field {
	display: inline-block;
	margin-top: 10px;
	min-width: 155px;
	width: 50%;
}

.room #send-message {
	margin: 19px;
	position: fixed;
	bottom: 0%;
	left: 90%;
}

.room .send {
	margin-left: 12px;

}
