.nav {
	float: left;
	width: 150px;
	height: 100vh;
	background-color: #DEDEDE;
	margin-right: 20px;
}

.nav .title {
	margin: 20px;
}

.nav .new-room {
	margin-left: 17px;
}

.nav .room-list {
	margin-left: 20px;
	list-style: none;
}

.nav .room-item {
	margin: 5px 0 5px 0;
}

.room {
	width: 100%;
	height: 100vh;
	background-color: gray;
}

.room #room-title {
	color: #DEDEDE;
	display: inline-block;
}

.room .message-list {
	list-style: none;
}