<div class="modal-header">
	<h3 class="modal-title">Create New Room</h3>
</div>
<div class="modal-body">
	<form class="create-room-form">
		<input id="new-room-name" type="text" placeholder="Enter room name here" onfocus="this.placeholder = ''" ng-model="newRoomName" onblur="this.placeholder = 'Enter room name here'" />
	</form>
</div>
<div class="modal-footer">
	<button class="button create-room-modal" type="button" ng-click="create()">Create Room</button>
	<button class="button cancel-modal" type="button" ng-click="cancel()">Cancel</button>
</div>
