<section class="nav">
	<h3 class="title">Bloc Chat</h3>
	<p class="user" ng-hide="!currentUser">Current user: <br/>
		<strong> {{ currentUser }} </strong> </p>
	<button type="button" class="button logout" ng-click="logout()" ng-hide="!currentUser">Sign Out</button>
	<button type="button" class="button login" ng-click="newUser()" ng-show="!currentUser">Sign In</button>
	<button type="button" class="button new-room" ng-click="open()" ng-hide="!currentUser">Create New Room</button>
	<ul class="room-list">
		<li class="room-item" ng-repeat="room in rooms" ng-click="setRoom(room)" ng-hide="!currentUser"><a>{{ room.$value }}</a></li>
	</ul>
</section>

<section class="room">

	<div ng-hide="!currentUser">
		<h4 id="room-title"> {{ currentRoom }} </h4>
		<ul class="message-list" ng-show="messages">
			<li class="message-item" ng-repeat="message in messages">{{ message.username }} ({{ message.sentAt }}): {{ message.content }}</li>
		</ul>

		<div id="message-text" ng-hide="!currentRoom">
			<input id="message-field" type="text" placeholder="Type your message here" onfocus="this.placeholder = ''" ng-model="message" onblur="this.placeholder = 'Type your message here'" />

			<button class="button send" type="button" ng-click="send()">Send</button>
		</div>

	</div>

</section>
